table {
  width: 90%;
}
.example-spacer {
  flex: 1 1 auto;
}
table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
  padding: 15px;
}
table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}
table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}
table tbody tr {
  background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.Buttons{
  background:gray;
  border-radius: 5px;
  border: none;
  color: aliceblue;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
}
